@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.inputSearchContent {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.cardContent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  border: solid 1px black;
  padding: 0.5rem;
}
.contentAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarIcon {
  widht: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.content-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-content: center;
}
